.main {
  display: inline-block;
  float: left;
  background-color: lightgreen;
  width: 200px;
}

.toggle-all {
}

.todo-list {
}

.header {
  display: inline-block;
  margin-left: 200px;
  float: left;
  background-color: lightsalmon;
}

.footer {
  display: block;
  background-color: lightblue;
}

.filters ul {
  list-style-type: none;
}

.filters li {
  display: inline-block;
}

.new-todo {
  resize: none;
  width: 100%;
  height: 300px;
}

.note {
  display:block;
  overflow: hidden;
}

.info {
  clear: both;
}
