.main {
  display: inline-block;
  border: 1px solid black;
}

.toggle-all {
}

.todo-list {
}

.header {
  display: inline-block;
  float: right;
  border: 1px solid black;
}

.footer {
  display: block;
  border: 1px solid black;
}

.filters ul {
  list-style-type: none;
}

.filters li {
  display: inline-block;
}

.new-todo {
  resize: none;
  width: 500px;
  height: 300px;
}
